body {
  background-color: #bbb;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  background-image: url(./assets/images/github.png);
  background-position: center center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.div--form {
  width: 900px;
  height: 400px;
  margin: 0 auto;
}

.my--form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#user--form {
  width: 500px;
}

.input {
  margin-top: 8px;
  margin-right: 8px;
  padding: 8px;
}
